.block {
  margin-bottom: 112px;
}

.title {
  width: 568px;
  margin: 0 0 58px 0;
  padding-left: 362px;
  font: 400 40px/40px "Neue Machina", "Inter", "sans-serif";
}

.persons {
  display: flex;
  column-gap: 30px;
  max-width: 930px;
  margin: 0 auto;
}
