.videos {
  max-width: 1440px;
  margin: 98px auto 145px;
  padding: 0 30px;
  box-sizing: border-box;
  @media screen and (max-width: 760px) {
    padding: 0;
    margin: 57px auto 100px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 45px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  li {
    width: 450px;
    height: 250px;
  }
}
