.section {
  margin: 93px 0 123px;
}

.title {
  width: 358px;
  margin: 0 auto 48px;
  padding-right: 348px;
  font: 400 40px/40px 'Neue Machina','Inter','sans-serif';
}

.pieces {
  display: flex;
  max-width: 1320px;
  column-gap: 30px;
  margin: 0 auto;
}


@media screen and (max-width: 1439px) {
  .pieces {
    max-width: 780px;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 989px) {
  .title {
    width: 369px;
    padding: 0;
    margin: 100px auto 32px;
    font: 400 28px/32px "Neue Machina", "Inter", "sans-serif";
  }
}
