@import "../../vendor/fonts/fonts.scss";

.section {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 120px;
  row-gap: 65px;
  margin: 0 auto;
  margin-top: 59px;
}

.title {
  width: 450px;
  font-family: "Neue Machina", serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -0.01em;
  grid-column-start: 2;
}

.subtitle {
  font-family: "Neue Machina", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;
  padding-left: 180px;
}

.image {
  width: 720px;
  height: 445px;
}
