@import "../../styles/constants.scss";

.section {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $color-bg-accent;
  padding: 79px 0 120px 360px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  box-sizing: border-box;
  @media screen and (max-width: 1023.98px) {
    padding: 54px 24px 72px;
  }
}

.title {
  font: 400 40px/40px "Neue Machina", serif;
  letter-spacing: -0.01em;
}

.subtitle {
  padding-left: 60px;
  max-width: 509px;
  font: 300 20px/28px "Formular", serif;
  letter-spacing: -0.01em;
}
