@import "../../styles/constants.scss";

.section {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $color-bg-accent;
  padding: 79px 511px 120px 360px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  box-sizing: border-box;
}

.title {
  font-family: "Neue Machina", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.01em;
}

.subtitle {
  padding-left: 60px;
  max-width: 509px;
  font-family: "Formular", serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.01em;
}
