@import "../../styles/constants.scss";

.header {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 10px 0 0 30px;
}

.navigation {
  display: flex;
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.line {
  border-bottom: 1px solid $color-text-black;
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.icon {
  transform: rotate(180deg);
}

.button {
  width: 119px;
  height: 31px;
  position: absolute;
  margin: 36px 0 0 30px;
  background: none;
  display: flex;
  gap: 8px;
  border: none;
  border-bottom: 1px solid $color-text-black;
  border-right: 1px solid $color-text-black;
  font: 300 16px/14px "Formular", sans-serif;
  text-transform: uppercase;
  transition: color 0.2s linear;
  transition: scale 0.1s linear;
  padding: 8px 0 10px 10px;
  box-sizing: border-box;
  @media screen and (max-width: 767.98px) {
    margin: 0;
    top: 0;
    left: 86px;
    transform: translateY(25%);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: $color-text-black;
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    color: $color-white;
    z-index: 2;
    cursor: pointer;
    &:before {
      width: 100%;
    }
  }
  &:active {
    scale: 1.1;
  }
}

.burger {
  display: none;
  @media screen and (max-width: 767.98px) {
    display: block;
    position: fixed;
    bottom: 128px;
    right: 0;
    transform: translateY(-50%);
    width: 72px;
    height: 72px;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: $color-text-black;
    overflow: hidden;

    &_line {
      width: 22px;
      display: block;
      position: absolute;
      top: 50%;
      right: 50%;
      height: 2px;
      background: white;
      transform: translateY(-50%) translateX(50%);

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: white;
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
      }

      &::after {
        bottom: -9px;
        transition-property: bottom, transform;
      }

      &::before {
        top: -9px;
        transition-property: top, transform;
      }

      &_active {
        background: none;
        transition-delay: 0s, 0.3s;

        &::after {
          bottom: 0;
          transform: rotate(-45deg);
        }

        &::before {
          top: 0;
          transform: rotate(45deg);
        }
      }
    }
  }
}
