@import "../../styles/constants.scss";

.header {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.line {
  border-bottom: 1px solid $color-text-black;
}
