.image {
  width: 210px;
  height: 265px;
  margin-bottom: 16px;
}

.name {
  font: 400 28px/32px 'Neue Machina', sans-serif;
  margin-bottom: 8px;
}

.job {
  width: 177px;
  font: 300 16px/22px;
  margin-left: 33px;
}