@import "../../styles/constants.scss";

.block {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  justify-content: center;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 30px;
}

.title {
  width: 568px;
  margin: 122px auto 75px;
  padding-right: 148px;
  font: 400 40px/40px "Neue Machina", "Inter", "sans-serif";
}

.items {
  border-right: 1px solid $color-text-black;
  padding-right: 28px;
  &:last-child {
    border-right: none;
    padding: 0;
  }
}


@media screen and (max-width: 1439px) {
  .block {
    width: 930px;
  }
  .items:nth-child(2) {
    border-right: none;
  }
}

@media screen and (max-width: 989px) {
  .block {
    width: 415px;
    flex-direction: column;
  }
  .title {
    width: 369px;
    padding: 0;
    margin: 100px auto 34px;
    font: 400 28px/32px "Neue Machina", "Inter", "sans-serif";
  }
  .items {
    max-width: 415px;
    border-right: none;
    padding: 0 0 32px;
    border-bottom: 1px solid $color-text-black;
    &:last-child {
      padding: 0 0 32px;
    }
  }
}
