@import "../../styles/constants.scss";

.section {
  margin-bottom: 129px;
  @media screen and (max-width: 989px) {
    margin-bottom: 100px;
  }
}

.block {
  display: flex;
  width: 1440px;
  margin: 75px auto 0;
  justify-content: center;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 30px;
  @media screen and (max-width: 989px) {
    margin-top: 34px;
  }
}

.items {
  border-right: 1px solid $color-text-black;
  padding-right: 28px;
  &:last-child {
    border-right: none;
    padding: 0;
  }
}

@media screen and (max-width: 1439px) {
  .block {
    width: 930px;
  }
  .items:nth-child(2) {
    border-right: none;
  }
}

@media screen and (max-width: 989px) {
  .block {
    width: 415px;
    flex-direction: column;
  }
  .items {
    max-width: 415px;
    border-right: none;
    padding: 0 0 32px;
    border-bottom: 1px solid $color-text-black;
    &:last-child {
      padding: 0 0 32px;
    }
  }
}
