@import "../../styles/constants.scss";

.block {
  display: flex;
  max-width: 1378px;
  margin: 0 auto;
  column-gap: 30px;
}

.title {
  width: 568px;
  margin: 122px 0 75px 362px;
  font: 400 40px/40px "Neue Machina", "Inter", "sans-serif";
}

.items {
  border-right: 1px solid $color-text-black;
  padding-right: 28px;
}

.items:last-child {
  border-right: none;
  padding: 0;
}
